@use '../../Styles/abstracts' as *;

:root {
  --button-color: var(--color-text-inverted);
  --button-color-hover: var(--color-text-inverted);
  --button-background-color: var(--color-primary-dark);
  --button-background-color-hover: var(--color-primary);
}

// Mixins
@mixin button {
  @include base-text;

  color: var(--button-color);
  background: var(--button-background-color);

  display: inline-block;
  vertical-align: top;
  min-width: calc(var(--spacing) * 14);
  max-width: 100%;
  padding: var(--spacing) calc(var(--spacing) * 1.5);

  font-weight: 400;

  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-01);

  user-select: none;
  text-align: center;
  white-space: normal;
  text-decoration: none;
  cursor: pointer;
  appearance: none;
  transition: background-color var(--transition-duration-base);

  flex-shrink: 0;

  &:hover:not([disabled]) {
    background: var(--button-background-color-hover);
    color: var(--button-color-hover);
    outline: 0;
  }
}

@mixin secondary {
  @include base-text;

  color: var(--button-background-color);
  background: transparent;
  box-shadow: inset 0 0 0 rem(1px) var(--button-background-color);

  &:hover {
    background: var(--button-background-color);
    color: var(--button-color);
    box-shadow: inset 0 0 0 rem(1px) var(--button-background-color-hover);
  }

  &.positive:not(:hover):not([disabled]),
  &.negative:not(:hover):not([disabled]) {
    color: var(--button-background-color-hover);
  }
}

@mixin disabled {
  --button-background-color: var(--color-disabled);
  --color: var(--color-disabled-dark);

  font-weight: 400;
  cursor: default;
  box-shadow: none;

  &.secondary {
    color: var(--color-disabled-dark);
    background: var(--input-background, var(--color-white));
    box-shadow: inset 0 0 0 rem(1px) var(--color-disabled);
  }
}

@mixin focus {
  outline: rem(2px) solid var(--button-background-color-hover);
  outline-offset: rem(2px);
}

@mixin small {
  padding: calc(var(--spacing) * 0.5) var(--spacing);
  min-width: calc(var(--spacing) * 4);
}

// Primary button
.button {
  @include button;
}

// Disabled
.button[disabled] {
  @include disabled;
}

// Focus
.button:focus-visible {
  @include focus;
}

// Secondary
.secondary {
  @include secondary;
}

// Small
.small {
  @include small;
}

.loading {
  opacity: 0.7;
  pointer-events: none;
}

// Variants
.positive {
  --button-background-color: var(--color-positive);
  --button-background-color-hover: var(--color-positive-dark);
}

.negative {
  --button-background-color: var(--color-negative);
  --button-background-color-hover: var(--color-negative-dark);
}

.warning {
  --button-background-color: var(--color-warning);
  --button-background-color-hover: var(--color-warning-dark);

  font-weight: 600;

  &:hover:not([disabled]) {
    color: var(--color-black) !important;
  }

  &:not([disabled]) {
    color: var(--color-black);
  }
}

// Button with icon
.with-icon {
  min-width: calc(var(--spacing) * 5);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  :global .icon {
    margin-right: 0;
    line-height: calc(var(--spacing) * 3);
    font-size: rem(19px);
    top: rem(1px);
  }

  span:not(:global .icon) {
    margin-left: var(--spacing);
    white-space: nowrap;
  }

  &.small {
    min-width: calc(var(--spacing) * 4);

    span:not(:global .icon) {
      margin-left: calc(var(--spacing) * 0.75);
    }
  }

  // Icon on right
  &.icon-right {
    :global .icon {
      order: 2;
    }

    span:not(:global .icon) {
      margin-left: 0;
      margin-right: calc(var(--spacing) * 0.75);
    }
  }
}

// Button with SVG
.with-svg {
  min-width: calc(var(--spacing) * 5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: calc(var(--spacing) * 5);
  padding: var(--spacing);

  svg {
    fill: var(--color-text-inverted);
    max-width: 100%;
    max-height: calc(var(--spacing) * 3);
    max-width: calc(var(--spacing) * 3);
    width: 100%;
    height: 100%;
  }

  & span {
    margin-left: var(--spacing);
  }

  // Small
  &.small {
    min-width: calc(var(--spacing) * 4);
    min-height: calc(var(--spacing) * 4);
    padding: calc(var(--spacing) * 0.5) var(--spacing);
    svg {
      max-height: calc(var(--spacing) * 2);
      max-width: calc(var(--spacing) * 2);
    }
    span {
      margin-left: calc(var(--spacing) * 0.75);
    }
  }

  // Disabled
  &.disabled {
    svg {
      fill: var(--color-disabled-dark);
    }
    .warning {
      svg {
        fill: var(--color-text-inverted) !important;
      }
    }
    :hover {
      display: none;
    }
  }

  // Secondary
  &.secondary {
    svg {
      fill: var(--button-background-color);
    }
    &:hover {
      svg {
        fill: var(--button-color);
      }
    }
  }

  // Warning
  &.warning:not(:disabled) {
    svg {
      fill: var(--color-black);
    }
  }

  // Icon on right
  &.icon-right {
    svg {
      order: 2;
    }
    span {
      margin-right: var(--spacing);
      margin-left: 0;
    }
  }
}

// Button container
.button-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--spacing);
  align-items: flex-start;

  &.align-right {
    justify-content: flex-end;

    .button {
      margin-right: 0;
      margin-left: var(--spacing);
    }
  }

  .button {
    margin-right: var(--spacing);
    margin-bottom: var(--spacing);
  }
}

.buttonLoaderWrapper {
  display: inline-block;
  padding-left: 0;
  position: relative;
  top: 3px;
}

.buttonLoaderWrapperWithIcons {
  margin-left: 4px;
}
