.label {
  font-size: 1rem;
  line-height: 1.5rem;
  display: block;
  color: var(--color-gray-800);
  margin-bottom: 5px;
}

.required {
  color: var(--color-negative);
  margin-left: 0.25rem;
}

.selectDirtyIcon {
  right: 40px;
  top: 6px;
}

.clearableSelectDirtyIcon {
  right: 60px;
  top: 6px;
}

.description {
  color: var(--color-text-light);
  font-style: italic;
  transform: translateY(0.34375rem);
}

.chevronDown {
  width: 36px;
  height: 36px;
  padding: 12px;
  display: flex;
  justify-content: center;

  .chevronArrow {
    width: 8px;
    height: 8px;
    display: block;
    border-bottom: 2px solid var(--color-text-light);
    border-left: 2px solid var(--color-text-light);
    transform: rotate(-45deg);
    opacity: 0.6;
    transition: all 300ms ease-in-out;
  }

  &:hover {
    .chevronArrow {
      opacity: 1;
    }
  }
}

.iconLabel {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: inherit;
}

.iconLabel :global(svg) {
  color: inherit;
  fill: currentColor;
}


