@use "../../Styles/abstracts" as *;

/* Root-Variablen bleiben global → NICHT in :local kapseln */
:global(:root) {
  --scrollbar-size: 0.3rem;
  --scrollbar-color: var(--color-sidebar-selected);
  --scrollbar-color-black: var(--color-mod-nav-theme);
}

.appLayouts {
  display: grid;
  grid-template-columns: var(--sidebar-width, 8rem) 1fr;
  grid-template-rows: calc(var(--nav-height) + 1px) auto;
  grid-template-areas:
    "sidebar headers"
    "sidebar content";
  min-height: 100vh;
  transition: grid-template-columns 0.5s ease;
  overflow: visible;

  &.collapsed {
    --sidebar-width: var(--sidebar-collapsed-width);
  }

  &.expanded {
    --sidebar-width: var(--sidebar-extended-width);
  }
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--color-mod-nav-theme);
  z-index: 10;
  transition: width 0.5s ease, min-height 0.5s ease;
  display: flex;
  flex-direction: column;
}

.header {
  grid-area: headers;
  background-color: var(--color-mod-nav-theme-contrast);
  border-bottom: var(--nav-border-line);
  align-items: center;
  display: flex;
  width: 100%;
  z-index: 90;
  position: sticky;
  top: 0;
}

.content {
  padding: calc(var(--spacing) * 3);
  grid-area: content;
  overflow-y: auto;
  max-width: 100rem;
  min-width: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
}

@media screen and (min-width: 650px) {
  .sidebar {
    min-height: 100dvh;
    position: sticky;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .sidebar::-webkit-scrollbar {
    width: var(--scrollbar-size);
  }

  .sidebar::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 3px;
  }

  @supports (-moz-appearance: none) {
    .sidebar {
      scrollbar-width: thin;
      scrollbar-color: var(--scrollbar-color) transparent;
    }
  }
}

@media screen and (max-width: 650px) {
  .appLayouts {
    min-height: 10svh;
    grid-template-columns: 1fr;
    grid-template-areas:
      "headers"
      "sidebar"
      "content";
  }

  .mobileDim {
    display: none;
  }

  .expanded .mobileDim {
    display: block;
    position: fixed;
    top: calc(var(--nav-height) + 1px);
    left: var(--sidebar-width);
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 85;
  }

  .contentMobile {
    position: fixed;
    top: calc((var(--nav-height) + 1px) * 2);
  }
}
