@use '../../Styles/abstracts' as *;

// Breadcrumbs
.breadcrumbs {
  margin-bottom: calc(var(--spacing) * 2);

  span {
    &:last-child {
      &::after {
        display: none;
      }
      & a {
        text-decoration: none;
      }
    }
    &::after {
      content: '';
      display: inline-block;
      width: rem(10px);
      height: rem(10px);

      background-position: center;
      background-repeat: no-repeat;
      transform: rotate(180deg);
      opacity: 0.6;
      margin-left: rem(4px);
      margin-right: rem(4px);
    }
  }

  a {
    color: var(--color-gray-600);
    padding: rem(4px);
    &:hover {
      background-color: var(--color-gray-275);
      border-radius: var(--nav-border-radius);
    }
    &:focus {
      outline: rem(2px) solid var(--button-background-color-hover);
      border-radius: var(--nav-border-radius);
    }
  }

  .currentItem {
    @include main-heading($offset: true);
  }
}
