@use '../../Styles/abstracts' as *;

// Toggle
.toggle-wrapper {
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .toggleDirtyIcon {
    position: static;
    margin-right: -6px;
  }

  .borderLabel {
    display: flex;
    margin-right: var(--spacing);
  }

  // Focus
  input:focus-visible + .inner {
    .toggle {
      box-shadow: 0 0 0 rem(2px) var(--input-focus-outline-color);
    }
  }

  // Checked
  input:checked + .inner {
    .left {
      color: var(--color-gray-500);
    }

    .right {
      color: var(--color-text);
    }

    .toggle {
      &::before {
        left: auto;
        right: rem(2px);
      }
    }
  }

  // Disabled
  input:disabled + .inner {
    cursor: default;
    opacity: 0.65;
  }

  // Mock input
  .inner {
    display: flex;
    cursor: pointer;
    user-select: none;

    width: 100%;

    span {
      //white-space: nowrap;
      overflow: hidden;
    }
  }

  .right {
    color: var(--color-gray-500);
  }

  .toggle {
    display: block;
    height: calc(var(--spacing) * 3);
    width: calc(var(--spacing) * 6);
    border-radius: calc(var(--spacing) * 8);
    margin-left: var(--spacing);
    margin-right: var(--spacing);
    position: relative;
    border: rem(2px) solid var(--color-positive);
    background: var(--color-positive);

    &::before {
      content: '';
      display: block;
      height: calc(var(--spacing) * 2.25);
      width: calc(var(--spacing) * 2.25);
      background: var(--color-white);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: rem(2px);
      right: auto;
      border-radius: 100%;
    }
  }
}

// Toggle but different
.toggle-active {
  // Checked
  input:checked + .inner {
    .disabled {
      display: none;
    }

    .active {
      display: block;
    }

    .toggle {
      border: rem(2px) solid var(--color-positive);
      background: var(--color-positive);
    }
  }

  // Mock input
  .active {
    display: none;
  }

  .toggle {
    margin-left: 0;
    margin-right: var(--spacing);
    border: rem(2px) solid var(--color-negative-light);
    background: var(--color-negative-light);
  }
}

.text-left {
  .toggle {
    order: 1;
    margin-left: var(--spacing);
    margin-right: 0;
  }
}

.no-text {
  .toggle {
    margin-left: 0;
    margin-right: 0;
  }
}

.secondary {
  input + .inner {
    .toggle {
      border: rem(2px) solid var(--color-gray-800);
      background: var(--color-white);

      &::before {
        background: var(--color-brand, var(--color-primary));
      }
    }
  }

  &.toggle-active {
    input + .inner {
      .toggle {
        border: rem(2px) solid var(--color-negative-light);
        background: var(--color-white);

        &::before {
          background: var(--color-negative-light);
        }
      }
    }
    input:checked + .inner {
      .toggle {
        border: rem(2px) solid var(--color-positive);
        &::before {
          background: var(--color-positive);
        }
      }
    }
  }
}

.borderLabelWrapper {
  margin-top: 1rem;
}
