:root {
  --spacing: .5rem;

  --content-max-width: 93.75rem;
  --content-padding: 2rem;
  --content-padding-md: 1.5rem;
  --content-padding-sm: 1rem;

  --navigation-width: 15rem;

  --nav-height: 3rem;
  --nav-width: 20.5rem;
  --nav-module-width: 4rem;

  --sidebar-collapsed-width: calc(var(--spacing) * 8);
  --sidebar-extended-width: calc(var(--spacing) * 34);
  --sidebar-nav-height: 90svh;

  --sidebar-menu-item-height: 2.5rem;
  --sidebar-submenu-header-height: 2.5rem;
  --sidebar-submenu-item-height: 2.5rem;
  --sidebar-submenu-indent: calc(var(--spacing) * 6);
  --sidebar-submenu-width: calc(var(--spacing) * 26);

  --sidebar-expanded-grid:
    calc(4.5 * var(--spacing))
    calc(var(--sidebar-extended-width) - 5.65rem)
    2rem;

  --sidebar-desktop-rows: calc(var(--spacing) * 8) 1fr;

  --breakpoint-xxl: 88em;
  --breakpoint-xl: 75em;
  --breakpoint-lg: 62em;
  --breakpoint-md: 48em;
  --breakpoint-sm: 36em;

  --scrollbar-size: .375rem;

  --clickableDownSymbol: ;
  --clickableUpSymbol: ;
}
