:root {
  --transition-duration-base: .2s;
  --transition-duration-long: .4s;

  --shadow-00: 0 .1875rem .3125rem 0 #2f365c1a;
  --shadow-01: 0 .0625rem .3125rem 0 #2f365c33;
  --shadow-02: 0 .1875rem .625rem .1875rem #2f365c33;
  --shadow-03: 0 .3125rem 1.4375rem .4375rem #2f365c33;
}
