@use "../abstracts" as *;

// Typography

// Regular text
.main-heading {
  @include main-heading($offset: false, $content: !important);
}

.subheading {
  @include subheading($offset: false, $content: !important);
}

.sub-subheading {
  @include sub-subheading($offset: false, $content: !important);
}

.smallest-subheading {
  @include smallest-subheading($offset: false, $content: !important);
}

.base-text {
  @include base-text($offset: false, $content: !important);
}

.large-text {
  @include large-text($offset: false, $content: !important);
}

.smaller-text {
  @include smaller-text($offset: false, $content: !important);
}

.small-text {
  @include small-text($offset: false, $content: !important);
}

// Oversized text
.oversized-text-01 {
  @include oversized-text-01($offset: false, $content: !important);
}

.oversized-text-02 {
  @include oversized-text-02($offset: false, $content: !important);
}

.oversized-text-03 {
  @include oversized-text-03($offset: false, $content: !important);
}

.oversized-text-04 {
  @include oversized-text-04($offset: false, $content: !important);
}

// Colors

// Color primary
.color-primary {
  color: var(--color-primary);
}

.color-primary-semidark {
  color: var(--color-primary-semidark);
}

.color-primary-dark {
  color: var(--color-primary-dark);
}

.color-primary-darkest {
  color: var(--color-primary-darkest);
}

.color-primary-light {
  color: var(--color-primary-light);
}

// color positive
.color-positive {
  color: var(--color-positive);
}

.color-positive-dark {
  color: var(--color-positive-dark);
}

.color-positive-light {
  color: var(--color-positive-light);
}

// color negative
.color-negative {
  color: var(--color-negative);
}

.color-negative-dark {
  color: var(--color-negative-dark);
}

.color-negative-light {
  color: var(--color-negative-light);
}

// color warning
.color-warning {
  color: var(--color-warning);
}

.color-warning-dark {
  color: var(--color-warning-dark);
}

.color-warning-light {
  color: var(--color-warning-light);
}

// Named colors
.color-red {
  color: var(--color-red);
}

.color-blue {
  color: var(--color-blue);
}

.color-green {
  color: var(--color-green);
}

.color-purple {
  color: var(--color-purple);
}

.color-orange {
  color: var(--color-orange);
}

.color-yellow {
  color: var(--color-yellow);
}

// color gray
.color-gray-100 {
  color: var(--color-gray-100);
}

.color-gray-200 {
  color: var(--color-gray-200);
}

.color-gray-250 {
  color: var(--color-gray-250);
}

.color-gray-275 {
  color: var(--color-gray-275);
}

.color-gray-300 {
  color: var(--color-gray-300);
}

.color-gray-400 {
  color: var(--color-gray-400);
}

.color-gray-500 {
  color: var(--color-gray-500);
}

.color-gray-600 {
  color: var(--color-gray-600);
}

.color-gray-700 {
  color: var(--color-gray-700);
}

.color-gray-800 {
  color: var(--color-gray-800);
}

.color-gray-900 {
  color: var(--color-gray-900);
}

// Black and white
.color-white {
  color: var(--color-white);
}

.color-black {
  color: var(--color-black);
}

//----- Background color -----//

// BG primary
.bg-primary {
  background-color: var(--color-primary);
}

.bg-primary-semidark {
  background-color: var(--color-primary-semidark);
}

.bg-primary-dark {
  background-color: var(--color-primary-dark);
}

.bg-primary-darkest {
  background-color: var(--color-primary-darkest);
}

.bg-primary-light {
  background-color: var(--color-primary-light);
}

// BG positive
.bg-positive {
  background-color: var(--color-positive);
}

.bg-positive-dark {
  background-color: var(--color-positive-dark);
}

.bg-positive-light {
  background-color: var(--color-positive-light);
}

// BG negative
.bg-negative {
  background-color: var(--color-negative);
}

.bg-negative-dark {
  background-color: var(--color-negative-dark);
}

.bg-negative-light {
  background-color: var(--color-negative-light);
}

// BG warning
.bg-warning {
  background-color: var(--color-warning);
}

.bg-warning-dark {
  background-color: var(--color-warning-dark);
}

.bg-warning-light {
  background-color: var(--color-warning-light);
}

// Named colors
.bg-red {
  background-color: var(--color-red);
}

.bg-blue {
  background-color: var(--color-blue);
}

.bg-green {
  background-color: var(--color-green);
}

.bg-purple {
  background-color: var(--color-purple);
}

.bg-orange {
  background-color: var(--color-orange);
}

.bg-yellow {
  background-color: var(--color-yellow);
}

// BG grays
.bg-gray-100 {
  background-color: var(--color-gray-100);
}

.bg-gray-200 {
  background-color: var(--color-gray-200);
}

.bg-gray-250 {
  background-color: var(--color-gray-250);
}

.bg-gray-275 {
  background-color: var(--color-gray-275);
}

.bg-gray-300 {
  background-color: var(--color-gray-300);
}

.bg-gray-400 {
  background-color: var(--color-gray-400);
}

.bg-gray-500 {
  background-color: var(--color-gray-500);
}

.bg-gray-600 {
  background-color: var(--color-gray-600);
}

.bg-gray-700 {
  background-color: var(--color-gray-700);
}

.bg-gray-800 {
  background-color: var(--color-gray-800);
}

.bg-gray-900 {
  background-color: var(--color-gray-900);
}

// Black and white
.bg-white {
  background-color: var(--color-white);
}

.bg-black {
  background-color: var(--color-black);
}

//----- Box shadow -----//

.shadow-none {
  box-shadow: none;
}

.shadow-00 {
  box-shadow: var(--shadow-00);
}

.shadow-01 {
  box-shadow: var(--shadow-01);
}

.shadow-02 {
  box-shadow: var(--shadow-02);
}

.shadow-03 {
  box-shadow: var(--shadow-03);
}

//----- Spacing -----//

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

@mixin generate($prefix, $property) {
  // Spacing to multiply the sizes by
  $spacing: var(--spacing);

  // Loop through all of the sizes(we use @for rather than @each, as we want access to the index)
  @for $i from 1 through 12 {
    // Get the size for the current index
    $size: $i;

    // Create the rule
    .#{$prefix}-#{$i} {
      #{$property}: calc(var(--spacing) * $size);
    }
  }
}

// Margin
@include generate(mb, margin-bottom);
@include generate(mt, margin-top);
@include generate(ml, margin-left);
@include generate(mr, margin-right);

// Padding
@include generate(pb, padding-bottom);
@include generate(pt, padding-top);
@include generate(pl, padding-left);
@include generate(pr, padding-right);
